.listing-container {
  padding: 20px;
  }
  
.listing-header {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  padding-top: 50px;
  }
  
  .rent-button {
    background-color: #007bff; /* Blue color, you can change this */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .rent-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
